<div class="navbar navbar-expand-sm navbar-light">

  <a class="navbar-wagon-item">
    <%= link_to root_path, class: "nav-link-home" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="center">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-wagon-item">
          <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
        </li>
        <li class="navbar-wagon-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="navbar-wagon-item">
          <%= link_to "Resume", resume_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="right">
      <a>
          <%= link_to "Contact", contact_path, class: "nav-link border" %>
      </a>
    </div>
  </div>
</div>
