<%= render 'shared/black_navbar' %>
<div class="font-awsome-responsive">
  <div class="content-container">
    <div class="inner-content">
      <div class="text-box">
       <i class="fas fa-briefcase black icon"></i>
        <h2 class="black">Projects</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-none d-md-block">
    <div class="home-body">
      <div class="card-product" id="portfolio">
         <%= image_tag "helpster.jpg" %>
        <div class="card-product-infos">
          <div class='product-body'>
            <h3><strong>Helpster</strong></h3>
              <p>"A better way to work - for businesses and workers"</p>
              <p>I am currently working as a Freelance React Developer, updating the existing code base and adding new front end features.</p>
              <br>
              <p>Technology: JavaScript, React, Redux, CSS.</p>
            <br>
            <br>
            <a href="https://www.helpster.asia/" class="link">find out more</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="d-md-none">
    <div class="home-body" id="small-device-only">
      <%= image_tag "helpster.jpg" %><br>
        <h3><strong>Helpster</strong></h3><br><br>
          <p>"A better way to work - for businesses and workers"</p>
          <p>I am currently working as a Freelance React Developer, updating the existing code base and adding new front end features.
          <br>
          <a href="https://www.helpster.asia/" class="link">find out more</a></p>

    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="home-body">
      <div class="card-product" id="portfolio">
         <%= image_tag "taj.jpg" %>
        <div class="card-product-infos">
          <div class='product-body'>
            <h3><strong>Bhavana Experiences</strong></h3>
              <p>"Experience the real India with guided tours"</p>
              <p>A web app to advertise tour groups in India, built with Ruby On Rails and deployed on Heroku.</p>
              <br>
              <p>Technology: Ruby On Rails, JavaScript, HTML, CSS, Heroku.</p>
            <br>
            <br>
            <a href="http://www.bhavanaexperiences.co.uk/" class="link">find out more</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="d-md-none">
    <div class="home-body" id="small-device-only">
      <%= image_tag "taj.jpg" %><br>
        <h3><strong>Bhavana Experiences</strong></h3><br><br>
          <p>"Experience the real India with guided tours"</p>
          <p>A web app to advertise tour groups in India, built with Ruby On Rails and deployed on Heroku.
          <br>
          <a href="http://www.bhavanaexperiences.co.uk/" class="link">find out more</a></p>

    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="home-body">
      <div class="card-product" id="portfolio">
         <%= image_tag "karayoume.jpg" %>
        <div class="card-product-infos">
          <div class='product-body'>
            <h3><strong>Karayoume</strong></h3>
              <p>"Put the fun back into learning a language with quick fire karaoke."</p>
              <p>A web app built from scratch, utilizing the OpenTok JS video chat API, through to deployment on Heroku.</p>
              <br>
              <p>Technology: Ruby On Rails, JavaScript, HTML, CSS, Devise (Ruby Gem), Pundit (Ruby Gem), Heroku.</p>
            <br>
            <br>
            <a href="https://www.karayoume.com/" class="link">find out more</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="d-md-none">
    <div class="home-body" id="small-device-only">
      <%= image_tag "karayoume.jpg" %><br>
        <h3><strong>Karayoume</strong></h3><br><br>
            <p>"Put the fun back into learning a language with quick fire karaoke."</p>
            <p>A web app built from scratch, utilizing the OpenTok JS video chat API, through to deployment on Heroku.
            <br>
            <a href="https://www.karayoume.com/" class="link">find out more</a></p>

    </div>
  </div>
    <h4 class="text-center" style="margin: 50px">More coming soon...</h4>
</div>
<%= render 'shared/black_footer' %>
